<!-- Controller to render a unfollow and follow -->
<% if current_member != @member %><!-- if the current user is not the current member -->
  <div id="follow_form">
  <% if current_member.following?(@member) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>