<% if @members.present? %>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <% if member == current_member %>
      <tr>
        <td><h2><%= member.username %> (me)<h2> </td>

          <% if member.image.blank? %>
             <td><img src="http://edpov.stanford.edu/sites/default/files/defaultUserIcon.png"></td>
              <br />
          <% else %>
              <td><%=  image_tag member.image.url(:thumb) %></td>
          <% end %>
      </tr>
    <% else %>
      <tr>
        <td><h2><%= member.username %><h2></td>
        <% if member.image.blank? %>

            
        <% else %>
            <td><%=  image_tag member.image.url(:thumb) %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% else %>

<h3>No Friends</h3>
<% end %>