
<!-- page to dispaly the member image if it exsists or not -->
<% if @members.present? %>

<table>
  <thead>
    <tr>
      <th>User Name</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <% if member == current_member %><!-- if its the member your looking for -->
      <tr>
        <td><h2><%= link_to member.username, user_path(member.id) %> (me)<h2> </td>
        <% if member.image.blank? %>
        
        <% else %><!-- displays the members image -->
           <td><%=  image_tag member.image.url(:thumb), :class => "style_image_small" %></td>
        <% end %>
      </tr>
    <% else %><!-- if its NOT the member your looking for -->
      <tr>
        <td><h2><%= link_to member.username, user_path(member.id) %><h2></td>
        <% if member.image.blank? %><!-- is there an image -->

        <% else %><!-- displays the members image -->
           <td><%=  image_tag member.image.url(:thumb), :class => "style_image_small" %></td>
        <% end %>
      </tr>
      

    <% end %>
    <% end %>
  </tbody>
</table>

<% else %>

<h3>No Friends</h3>

<% end %>
