<div class="row center">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag @member.image.url(:medium), :class => "style_image" %>
      </div>
      <div class="panel-body">
        <p><%= @member.name %></p>
        <%= render 'follow_form' if signed_in? %>
      </div>
      <div>
        <%= render 'shared/stats' %>
      </div>
    </div>
  </div>
</div>
<br />