<% @member ||= current_member %>
<div class="">
  <a href="<%= following_user_path(@member) %>">
    <strong id="following" class="">
      <%= @member.followed_member.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@member) %>">
    <strong id="followers" class="">
      <%= @member.followers.count %>
    </strong>
    followers
  </a>
</div>