  <body>

          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
              <div class="row"> 


                <div class="container-fluid">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">New League</a></li>
            <li><a href="#">Join League</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Add Funds</a></li>
            <li><a href="#">View Leagues</a></li>
          </ul>
          </div></div>



                <div class="col-sm-6">
                  <div class="row">
                    <div>
                                  <% @members.each do |member| %>
                                      <% if member == current_member %>
                                          <% if member.image.blank? %>

                                          <% else %>
                                              <td><%=  image_tag member.image.url(:medium) %></td>
                                          <% end %>
                                      <% end %>
                                  <% end %>
                      <a class="btn btn-lg btn-default" href="/members/edit">EDIT PICTURE</a>  
                    </div>
              
              <div>
              <ul>
                <li>Name</li>
                <li>ScoreCard</li>
                <li>Funds</li>
              </ul>
              </div>

                  </div>
                  </div>


                    <div class="col-sm-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          <center><h2>Friends List</h2></center>
                      </div>
                        <div class="body">
                    <%= render '/users/index' %>
                  </div>
                    <%= render '/shared/stats' %>       
                  </div>
                </div>


          </div>

        </div>
      </body>