
<body>
<div id="dashCont" class="container">
	<div class="row">		
		<div class="col-sm-9">
			<div id="dashMain" class="container">
				<div class="row">
					<div class="col-sm-3">			
					</div>
					<div class="col-sm-3">
						<br>
						<button type="button" id="dashBtn" class="btn btn-default btn-lg"><a href="/leagues/new">NEW LEAGUE</a></button>
					</div>
					<div class="col-sm-3">
						<br>
						<button type="button" id="dashBtn" class="btn btn-default btn-lg">JOIN LEAGUE</button>
						
					</div>
					<div class="col-sm-3">
						<br>
						<button type="button" id="dashBtn" class="btn btn-default btn-lg"><a href="/leagues">EDIT LEAGUES</a></button>
					</div>
				</div>
			</div>
		</div>
		<div id="dashFriend" class="col-sm-3">
			<h1>Friends List</h1>
		</div>
	</div>
	<div class="row">		
		
<div class="col-sm-9">
			<div id="dashMain" class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class = "row">
								<div class="col-sm-6">
									<br><br>
									<span class="glyphicon glyphicon-user"></span><br><br><br>
							    	<button type="button" id="dashBtn" class="btn btn-default btn-lg"><a href="/members/edit">EDIT PICTURE</a></button>						
							    </div>
							    <div class="col-sm-6">							    	
							    		
							    </div>
							</div>
						</div>
						<div class="col-sm-6">
							<h1>Advertisement</h1>
							<span class="glyphicon glyphicon-th-large"></span>
						</div>
					</div>
				<h3 class="pull-left">CURRENT LEAGUES IN SESSION</h3>
				<div class="row">
					<div class="col-sm-11">
						<div id="dashScroll" class="container">
							<h2 class="pull-left">League #1<br>League #2<br>League #3<br>League #4</h2>

						</div>
					</div>
					<div class="col-sm-1">
					</div>
				</div>
				<br>
				<button type="button" id="dashBtn" class="btn btn-default btn-lg pull-left">UPGRADE</button>
				<button type="button" id="dashBtn" class="btn btn-default btn-lg pull-left">OPTIONS</button>
			</div>
		</div>
		<div id="dashFriend" class="col-sm-3">
			<h1>Friends List</h1>
			<h1>Friends List</h1>
			<h1>Friends List</h1>
			<h1>Friends List</h1>
			<h1>Friends List</h1>
			<h1>Friends List</h1>
			<h1>Friends List</h1>
		</div>
	</div>
</div>
</body>
