<body>
	<!--displays more information for the user about the site
-->
	<div class="jumbotron">
  		<p>FANTASY IMMORTALS</p>

  		<!--

		More learning about the site info. goes here.


  		-->



	</div>

</body>