body {
	padding-top: 90px;
	font-family: 'Andalus';
	background: url('background.jpg');
	background-size: 1440px 800px;
	background-repeat:no-repeat;
}

.container {
	max-width: 1000px;
}

.row {
	text-align: center;
}

.form-group {
	margin-bottom: 0;
}

.h1 {
	font-family: "Andalus";
}

.btn.btn-lg.btn-warning {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

.btn.btn-lg.btn-danger {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
}

.main-logo {
	width: 68px;
	height: 73px;
	text-indent: 85%;
	white-space: nowrap;	
	background: url('FILogo.jpg') no-repeat;
	background-size: 100%;
}

#lrgLink {
	font-size: 18px;
}

#smallLinks {
	font-size: 11px;
	max-height: 30px;
}

#learnBtn {
	padding-top: 100px;
}

#registerBtn {
	padding-top: 15px;
}

#headingText {
	padding-top: 45px;
	padding-bottom: 15px;
	font-size: 30px;
}


/* Jumbotron
============================ */

.jumbotron {
	text-align: center;
	max-height: 70px;
	padding-top: 35px;
}

/* Glyphicons
============================ */

.glyphicon {
	font-size: 3em;
	display: block;
	margin: auto;
	color: #3a87ad;
}

/* Carousel
============================ */



