body {
	padding-top: 90px;
	font-family: 'Andalus';
	background: url('background.jpg');
	background-size: 1440px 1000px;
	background-repeat:no-repeat;
}

.container {
	max-width: 1000px;
}

.row {
	text-align: center;
}

.form-group {
	margin-bottom: 0;
}

h3 {
	color: white;
}

a {
	color: black;
}

#headingText {
	padding-top: 45px;
	padding-bottom: 15px;
	font-size: 30px;
}

/* Dashboard
=====================================*/
.container #dashCont {
	max-width: 1500px;
}

#dashJumbo {
	background: #999966;
	max-height: 50px;
}

#dashMain {
	background: #999966;
	max-width: 850px;
}

#dashScroll {
	background: gray;
	max-width: 700px;
}

#dashFriend {
	background: #999966;
}

/* Buttons
=====================================*/

.btn.btn-lg.btn-warning {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

.btn.btn-lg.btn-default {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	background: #A00;
	color: #000;
}

.btn.btn-primary.btn-lg {
	padding-bottom: 10px;
}

#dashBtn {
	font-size: 15px;
}

#learnBtn {
	padding-top: 100px;
}

#registerBtn {
	padding-top: 15px;
}

/* Logos & Icons
=====================================*/

.main-logo {
	width: 68px;
	height: 73px;
	text-indent: 85%;
	white-space: nowrap;	
	background: url('FILogo.jpg') no-repeat;
	background-size: 100%;
}

.glyphicon {
	font-size: 3em;
	display: block;
	margin: auto;
	color: #3a87ad;
}

/* Navbar
=====================================*/

#lrgLink {
	font-size: 18px;
}

#smallLinks {
	font-size: 11px;
	max-height: 30px;
}




/* Jumbotron
============================ */

.jumbotron {
	text-align: center;
	max-height: 70px;
	padding-top: 35px;
}


/* Carousel
============================ */



