// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	min-width: 1000px;
	height: 100%;
	padding-top: 10% auto;
	font-family: 'Andalus';
	padding-bottom: 5%;

	background: #FCFCFC;

	background: darkgrey;


}

.jumbotron{
	background: radial-gradient(whitesmoke, #F0F0F0);
}

.hometitle{
  font-family: 'Andalus';
  color: #000000;
}
.homesubtitle{
  font-family: 'Andalus';
  color: #000000;
}

.btn {
  color: #000000;
  background: darkgrey;
  border: darkgrey;
  &:hover { background-color: dimgrey }

}
#dash_user{
	padding-left: 4%;

}

.front-color {
	color:black;
}

.panel {
	.body{
		
	}
}
