// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	min-width: 800px;
	padding-top: 5%;
	font-family: 'Andalus';
	padding-bottom: 5%;
	background: radial-gradient(#F0F0F0, black);
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron{
	background: radial-gradient(green, #F0F0F0);
}

.hometitle{font-family: 'Andalus';}
.homesubtitle{font-family: 'Comic Sans MS';}
